.card {
  max-width: 300px;
  padding: 10px 0;
  background-color: var(--dark-green-color);
  border-radius: var(--radius-border);
  display: grid;
  place-items: center;
  gap: 10px;
  color:  var(--black-color);
  text-align: center;
}

.image {
  background-color: var(--light-green-color);
  padding: 10px;
  display: grid;
  place-items: center;
  margin: 0 10px;
  border-radius: var(--radius-border);
}

.image img {
  aspect-ratio: 1/1;
  width: 90%;
  border-radius: var(--radius-border);
}