.cardOpen {
  padding: 20px 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.imageOpen img {
  border-radius: var(--radius-border);
  border: 6px solid var(--light-green-color);

}

.description {
  max-width: 40%;
  margin-top: 20px;
  padding: 10px;
  border-radius: var(--radius-border);
  border: 6px solid var(--light-green-color);
}

.description ul {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.loader{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}