@import url('https://fonts.googleapis.com/css2?family=Autour+One&display=swap');

:root {
  --black-color: #252525;
  --white-color: #fff;
  --gray-color: #646464;
  --dark-green-color: #70d026;
  --light-green-color: #beec65;
  --yellow-color: #fef377;
  --blue-color: #a8d6e6;
  --red-color: #b44755;
  --radius-border: 1em 1.6em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Autour One', cursive;
  background: var(--black-color);
  color: var(--dark-green-color);
  background: url('./assets/photos/header-bg.jpg');
  background-size: contain;
  padding: 0 1em;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--black-color);
}

ul {
  list-style: none;
}